html {
	margin: 0;
	padding: 0;
	border: 0;
}
body {
	repeat-y left;
	background-image: url(../img/bg.png);
	background-repeat-x: no-repeat;
	background-repeat-y: repeat;
	background-attachment: initial;
	background-position-x: 0%;
	background-position-y: 50%;
	background-origin: initial;
	background-clip: initial;
	background-color: initial;
	background-size: initial
	color: #4b4f61;
	padding: 0;
	margin: 0;
	font-family: 'Droid Sans', Verdana, Arial, Helvetica, sans-serif;
	font-size: 0.9em;
	text-align: center;
}

#container {
	min-width: 800px;
	border: 0;
	padding: 0;
	color: inherit;
}
#header {
<<<<<<< HEAD
	height: 200px;
	padding-top: 0px;
	margin: 0 auto;
	width: 100%;
	background-image: url(../img/bg.png) repeat-y left;
	background-repeat-x: no-repeat;
	background-repeat-y: repeat;
	background-attachment: initial;
	background-position-x: 0%;
	background-position-y: 50%;
	background-origin: initial;
	background-clip: initial;
	background-color: initial;
	background-size: initial;
	position: relative;
=======
        height: 200px;
        padding-top: 0px;
        margin: 0 auto;
        width: 100%;
        background-image: url(../img/bg.png) repeat-y left;
        background-repeat-x: no-repeat;
        background-repeat-y: repeat;
        background-attachment: initial;
        background-position-x: 0%;
        background-position-y: 50%;
        background-origin: initial;
        background-clip: initial;
        background-color: initial;
        background-size: initial;
        position: relative;
>>>>>>> f76d70f560dd28b40d34238f6f8ba893a97414f5
}
#header .logo img {
	float: left;
	margin-bottom: 2%;
	margin-top: 3%;
	margin-left: 10%;
}

#header .functions {
<<<<<<< HEAD
	position:absolute;
	top: 20px;
	right: 20px;
	text-align: right;
	margin: 0 11% 0 0;
	color: #999999;
	font-size: small;
=======
    position:absolute;
    top: 20px;
    right: 20px;
    text-align: right;
    margin: 0 11% 0 0;
    color: #999999;
    font-size: small;
>>>>>>> f76d70f560dd28b40d34238f6f8ba893a97414f5
}
    #header .functions p {
        margin: 0;
        padding: 0;
    }
    #header .functions a,
    #header .functions a:visited {
        color: #777777;
        margin: 0;
    }
    #header .functions a:hover {
    }
    #header .functions form#cse-search-box {
		margin: 0 28px 0 0 ;
		padding: 0;
    	display: inline;
    }
    #header .functions div {
	display: inline;
	}

    #header .functions input {
<<<<<<< HEAD
		margin: 0;
		border: 1px solid #ebf2f6;
		border-width: 1px 0 1px 1px;
		border-radius: 5px 0 0 5px;
		color: #999999;
		background-color: #ebf2f6;
		padding: 2px;
=======
    	margin: 0;
    	border: 1px solid #ebf2f6;
	border-width: 1px 0 1px 1px;
	border-radius: 5px 0 0 5px;
	color: #999999;
	background-color: #ebf2f6;
	padding: 2px;
>>>>>>> f76d70f560dd28b40d34238f6f8ba893a97414f5
	}
	#header .functions input:hover,
	#header .functions input:focus {
		color: #444444;
		background-color: #fcfcfc;
		outline: 0;
	}
	#header .functions input.button {
		background-color: #adc4e6;
		border: 1px solid #ebf2f6;
		border-width: 1px 1px 1px 0px;
		border: 0;
		border-radius: 0  5px 5px 0;
		width: 1.4em;
		margin-left: -4px;
		color: #f4f4f4;
	}
	#header .functions input.button:hover {
		color: #ffffff;
		background-color: #90a3c0;
	}

<<<<<<< HEAD
=======

>>>>>>> f76d70f560dd28b40d34238f6f8ba893a97414f5
#main {
    clear: both;
    padding: 0px 0 10px;
    margin: 0 auto;
    width: 80%;
}

#path {
    color: #666666;
    padding: 0 0 10px 10px;
    margin-bottom: 0px;
    font-size: 0.9em;
    text-align: left;
    text-transform: capitalize;
}
	#path a,
    #path a:visited {
    	text-decoration: none;
        color: #0066ff;
        padding: 0;
        margin: 2;
    }
    #path a:hover {
        text-decoration: underline;
    }

#menu {
   	padding: 0;
<<<<<<< HEAD
    float: left;
=======
    	float: left;
>>>>>>> f76d70f560dd28b40d34238f6f8ba893a97414f5
	margin: -50px 0 0 -40px;
	width: 100%;
        position: relative;
}

#menu .nav li  {
    background-color: #FF831C;
    display: block;
    width: 140px;
    height: 30px;
    margin: 2px;
    float: left;
    -webkit-border-top-right-radius: 5px;
    -webkit-border-top-left-radius: 5px
    -moz-border-radius-topright: 5px;
    -moz-border-radius-topleft: 5px
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

#menu .nav li a {
    color: black;
    display: inline;
    font-weight: bold;
    line-height: 30px;
    text-decoration: none;
    width: 85px;
    height: 30px;
    text-align: left;
}

#menu .nav li.current {
    font-weight: bold;
    background-color: white;

}
	#menu .nav li a:hover {
    	color: yellow;
	}

#content {
	position: relative;
	text-align: justify;
<<<<<<< HEAD
    text-shadow: 0px;
    float: left;
    margin: 20px 0 0;
=======
        text-shadow: 0px;
        float: left;
        margin: 20px 0 0;
>>>>>>> f76d70f560dd28b40d34238f6f8ba893a97414f5
	width: 60%;
  	padding: 15px 2% 15px 2%;
        background-color: #ffffff;
        -webkit-border-top-right-radius: 5px;
	-webkit-border-top-left-radius: 5px;
    	-webkit-border-bottom-right-radius: 5px;
    	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-topright: 5px;
	-moz-border-radius-topleft: 5px;
    	-moz-border-radius-bottomright: 5px;
    	-moz-border-radius-bottomleft: 5px;
    	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	border-bottom-right-radius: 5px;
<<<<<<< HEAD
    border-bottom-left-radius: 5px;
=======
        border-bottom-left-radius: 5px;
>>>>>>> f76d70f560dd28b40d34238f6f8ba893a97414f5
}
    #content a,
    #content a:visited {
    	text-decoration: none;
        color: #0066ff;
	}
    #content a:hover {
        text-decoration: underline;
    }
<<<<<<< HEAD
    #content p {
		margin: .5em 0;
    }
	/*#content h1 {
		font-weight: normal;
		text-transform: uppercase;
	}
	#content h2 {
		font-size: 2em;
		margin-top: 0.5em;
		font-weight: normal;
		background-color: inherit;
		text-transform: uppercase;
	} 
	#content h3 {
		font-weight: normal;
		border: 1px #eeeeee dashed;
		border-width: 0px 0px 1px 0px;
		color: #374b61;
		text-shadow: 1px 1px 0px #ffffff;
		border-radius: 10px 10px 0 0;
		background-color: #C1DAD6;
		padding: 5px;
	}
	#content images {
=======
        #content p {
                margin: .5em 0;
        }
        /*#content h1 {
                font-weight: normal;
                text-transform: uppercase;
        }
        #content h2 {
                font-size: 2em;
                margin-top: 0.5em;
                font-weight: normal;
                background-color: inherit;
                text-transform: uppercase;
        } 
        #content h3 {
                font-weight: normal;
                border: 1px #eeeeee dashed;
                border-width: 0px 0px 1px 0px;
                color: #374b61;
                text-shadow: 1px 1px 0px #ffffff;
                border-radius: 10px 10px 0 0;
                background-color: #C1DAD6;
                padding: 5px;
        }
      #content images {
>>>>>>> f76d70f560dd28b40d34238f6f8ba893a97414f5
        padding: 5px;
        margin: 5px 10px;
        background-color: #eeeeee;
        text-decoration: none;
        color: #0066ff;
	}*/
    #content a:hover {
        text-decoration: underline;
    }
        #content p {
        	margin: .5em 0;
        }
     
    #content .buttons {
        float: right;
        clear: both;
    }
        #content .buttons images {
            border: 0;
            background: none;
        }

	#titolo{
<<<<<<< HEAD
		margin: -20px 15px 0px 0;
=======
			margin: -20px 15px 0px 0;
>>>>>>> f76d70f560dd28b40d34238f6f8ba893a97414f5
	}
	#autore {
		margin: -15px 05px 30px 0;
		font-size: small;
	}
	
#contentRight {
<<<<<<< HEAD
   	position: relative;
=======
   
    position: relative;
>>>>>>> f76d70f560dd28b40d34238f6f8ba893a97414f5
    text-align: justify;
    text-shadow: 0px;
    float: right;
    margin: 15px 40px 0 0;
    width: 25%;
    padding: 5px 2% 15px 2%;
}

#contentRight1 {
<<<<<<< HEAD
	position: relative;
=======
   
    position: relative;
>>>>>>> f76d70f560dd28b40d34238f6f8ba893a97414f5
    text-align: justify;
    text-shadow: 0px;
    float: right;
    margin: 0px 0px 0 0px;
    width: 100%;
    padding: 5px 2% 15px 2%;
    background-color: #ffffff;
    -webkit-border-top-right-radius: 5px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-topright: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-bottomright: 5px;
    -moz-border-radius-bottomleft: 5px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}
 #contentRight a,
    #contentRight a:visited {
    	text-decoration: none;
        color: #0066ff;
	}
    #contentRight a:hover {
        text-decoration: underline;
    }
        #contentRight p {
    	    margin: .5em 0;
        }
        #contentRight h1 {
        	font-weight: normal;
            text-transform: uppercase;
        }
        
        #contentRight h3 {
<<<<<<< HEAD
	    	font-weight: normal;
            border: 1px #eeeeee dashed;
            border-width: 0px 0px 0px 0px;
	    	width: 100%;
=======
	    font-weight: normal;
            border: 1px #eeeeee dashed;
            border-width: 0px 0px 0px 0px;
	    width: 100%;
>>>>>>> f76d70f560dd28b40d34238f6f8ba893a97414f5
            color: #374b61;
            text-shadow: 1px 1px 0px #ffffff;
            border-radius: 10px 10px 10px 10px;
            background-color: #C1DAD6;
            padding: 5px;
        }
    #contentRight images {
        padding: 5px;
        margin: 5px 10px;
        background-color: #eeeeee;
        text-decoration: none;
        color: #0066ff;
	}

#contentRight a:hover {
        text-decoration: underline;
    }

.avatar {
	position:relative;
<<<<<<< HEAD
	margin-top: -60px;
	float: right;
}

=======
	float: right;
}


>>>>>>> f76d70f560dd28b40d34238f6f8ba893a97414f5
#contentRight2 {
    position: relative;
    text-align: justify;
    text-shadow: 0px;
    float: right;
    margin: 20px 0px 0 0px;
    width: 100%;
    padding: 5px 2% 15px 2%;
    background-color: #ffffff;
    -webkit-border-top-right-radius: 5px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-topright: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-bottomright: 5px;
    -moz-border-radius-bottomleft: 5px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}
 #contentRight2 a,
    #contentRight2 a:visited {
        text-decoration: none;
        color: #0066ff;
        }
    #contentRight2 a:hover {
        text-decoration: underline;
    }
        #contentRight2 p {
            margin: .5em 0;
        }
        #contentRight2 h1 {
            font-weight: normal;
            text-transform: uppercase;
        }
        #contentRight2 h3 {
            font-weight: normal;
            border: 1px #eeeeee dashed;
            border-width: 0px 0px 0px 0px;
            color: #374b61;
            text-shadow: 1px 1px 0px #ffffff;
            border-radius: 10px 10px 0 0;
            background-color: #C1DAD6;
            padding: 5px;
        }
    #contentRight2 images {
        padding: 5px;
        margin: 5px 10px;
        background-color: #eeeeee;
        text-decoration: none;
        color: #0066ff;
        }

#contentRight2 a:hover {
        text-decoration: underline;
   }

.blog {
	background: url(../img/calendar.png) no-repeat;
	width: 54px;
	height: 55px;
	float: left;
	margin: 0 15px 0 0;
}

.blog h2 {
	font: bold 90% arial, sans-serif;
	text-shadow: none;
  	text-align: center;
  	margin: 0;
  	padding: 4px 0 0 0;
 }

.blog h3 {
  	font: 140% arial, sans-serif;
  	text-shadow: none;
  	margin: 0;
  	text-align: center;
  	padding: 5px 0 0 0;
}

.clearer {
    margin: 0;
    padding: 0;
    border: 0;
    height: 0;
    clear: both;
}

#footer {
    position: relative;
    clear: both;
    font-size: 0.85em;
    margin: 0;
    padding: 14px 0 0 0;
    height: 100px;
    width: 100%;
    color: #777777;
    text-align: left;
    text-shadow: 1px 1px 0 black;
}
	#footer a {
		position: relative;
		color: inherit;
		text-decoration: underline;
    }
	
	#footer-text{
		float: left;
		margin-bottom: 0%;
		margin-top: 0;
		margin-left: 150px;
	}
